<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico" />

  <title>A.C.E. Parts Co., Ltd.</title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
    integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.2.0/dist/chartjs-plugin-datalabels.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfobject/2.2.12/pdfobject.min.js"
    integrity="sha512-lDL6DD6x4foKuSTkRUKIMQJAoisDeojVPXknggl4fZWMr2/M/hMiKLs6sqUvxP/T2zXdrDMbLJ0/ru8QSZrnoQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" th:href="@{lib/DataTables/datatables.min.css}">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" th:href="@{css/bootstrap.css}" />
  <link rel="stylesheet" th:href="@{custom.css}">
<style>
    /* .list-group-item {
      border: 1px solid rgba(255, 255, 255, 1) !important;
    } */
  </style>
</head>

<body>
    <div th:replace="navbar :: navbar"></div>

  <div class="container-fluid">
    <div class="row p-3">
      <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12">
        <div class="card bg-dark text-white">
          <div class="card-body" style="background-color: rgba(0, 0, 0, 0.3);">
            <div class="d-flex flex-column">
              <h5><i class="bi bi-clipboard2-check"></i> IOU</h5>
            </div>
            <ul class="menu-list flex-grow-1 mt-3 list-unstyled">
              <li class="collapsed">
                <a class="m-link active" data-bs-toggle="collapse" data-bs-target="#dashboard-Components" href="IOUManagement">
                  <i class="icofont-home fs-5"></i> <span>IOU Management</span> <span
                    class="arrow icofont-dotted-down ms-auto text-end fs-5"></span></a>
                <!-- Menu: Sub menu ul -->
                <ul class="sub-menu collapse show" id="dashboard-Components">
                  <li><a class="ms-link" href="iouRequestForm">
                      <span>IOU Request Form</span></a></li>
                   <li><a class="ms-link" href="iouTravel">
                      <span>IOU Travel Form</span></a></li>    
                  <li><a class="ms-link" href="iouView">
                      <span>IOU Review</span></a></li>
                  <li><a class="ms-link" href="iouAppove">
                      <span>IOU Approve</span></a></li>
                  <li><a class="ms-link" href="#">
                      <span>IOU Configuration</span></a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12">
        <div class="card w-100 h-100">
          <div class="card-body">
            <h3>IOU Request List</h3>
            <hr>
            <div class="table-responsive">
              <table class="table" id="IOUList">
                <thead>
                  <tr>
                    <th>Project No.</th>
                    <th>Description</th>
                    <th>Payment Type</th>
                    <th>Request Name</th>
                    <th>Date</th>
                    <th>Payment Date</th>
                    <th>Amount</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>#00001</th>
                    <td>ค่าของ</td>
                    <td>IOU</td>
                    <td>iyarut</td>
                    <td>10-05-2023</td>
                    <td>29-05-2023</td>
                    <td>1,102</td>
                    <td><span class="badge badge-warning">Reject</span></td>
                  </tr>
                  <tr>
                    <th>#00002</th>
                    <td>ค่าของ</td>
                    <td>IOU</td>
                    <td>iyarut</td>
                    <td>10-05-2023</td>
                    <td>29-05-2023</td>
                    <td>1,102</td>
                    <td><span class="badge badge-success">Approve</span></td>
                  </tr>
                  <tr>
                    <th>#00003</th>
                    <td>ค่าของ</td>
                    <td>Urgent</td>
                    <td>iyarut</td>
                    <td>10-05-2023</td>
                    <td>29-05-2023</td>
                    <td>1,102</td>
                    <td><span class="badge badge-secondary">Draf</span></td>
                  </tr>
                  <tr>
                    <th>#00004</th>
                    <td>ค่าของ</td>
                    <td>IOU</td>
                    <td>iyarut</td>
                    <td>10-05-2023</td>
                    <td>29-05-2023</td>
                    <td>1,102</td>
                    <td><span class="badge badge-secondary">Draf</span></td>
                  </tr>
                  <tr>
                    <th>#00005</th>
                    <td>ค่าของ</td>
                    <td>IOU</td>
                    <td>iyarut</td>
                    <td>10-05-2023</td>
                    <td>29-05-2023</td>
                    <td>1,102</td>
                    <td><span class="badge badge-secondary">Draf</span></td>
                  </tr>
                  <tr>
                    <th>#00006</th>
                    <td>ค่าของ</td>
                    <td>IOU/NoBOQ</td>
                    <td>iyarut</td>
                    <td>10-05-2023</td>
                    <td>29-05-2023</td>
                    <td>550</td>
                    <td><span class="badge badge-warning">Reject</span></td>
                  </tr>
                  <tr>
                    <th>#00007</th>
                    <td>ค่าของ</td>
                    <td>IOU</td>
                    <td>iyarut</td>
                    <td>10-05-2023</td>
                    <td>29-05-2023</td>
                    <td>1,987</td>
                    <td><span class="badge badge-warning">Reject</span></td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <th>Project No.</th>
                    <th>Description</th>
                    <th>Payment Type</th>
                    <th>Request Name</th>
                    <th>Date</th>
                    <th>Payment Date</th>
                    <th>Amount</th>
                    <th>Status</th>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <script th:src="@{js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{lib/DataTables/datatables.min.js}"></script>
  
</body>

</html>