<div class="card bg-dark text-white">
    <div class="card-body" style="background-color: rgba(0, 0, 0, 0.3);">
      <div class="d-flex flex-column">
        <h5><i class="bi bi-clipboard2-check"></i> IOU</h5>
      </div>
      <ul class="menu-list flex-grow-1 mt-3 list-unstyled">
        <li class="collapsed">
          <a class="m-link text-decoration-none" data-toggle="collapse" href="#iou-Components" aria-expanded="true" aria-controls="iou-Components">
            <i class="icofont-home fs-5"></i> <span>IOU Management</span> <span class="arrow icofont-dotted-down ms-auto text-end fs-5"></span></a>
          <!-- Menu: Sub menu ul -->
          <ul class="sub-menu collapse show" id="iou-Components">
            <li><a class="ms-link text-decoration-none" href="IOUManagement.html">
              <span>IOU List</span>
            </a></li>
            <li><a class="ms-link text-decoration-none" href="iouRequestForm.html">
                <span>IOU Request Form</span>
            </a></li>
            <li><a class="ms-link text-decoration-none" href="iouTravel.html">
                <span>IOU Travel Form</span>
            </a></li>
          </ul>
        </li>
      </ul>
    </div>
</div>