<div class="card bg-dark text-white">
    <div class="card-body" style="background-color: rgba(0, 0, 0, 0.3);">
      <div class="d-flex flex-column">
        <h5><i class="bi bi-clipboard2-check"></i> Letter Of Guarantee</h5>
      </div>
      <ul class="menu-list flex-grow-1 mt-3 list-unstyled">
        <li class="collapsed">
          <a class="m-link text-decoration-none" data-toggle="collapse" href="#log-Components" aria-expanded="true" aria-controls="log-Components">
            <i class="icofont-briefcase"></i><span>Letter Of Guarantee</span> 
            <span class="arrow icofont-dotted-down ms-auto text-end fs-5"></span></a>
          <!-- Menu: Sub menu ul -->
          <ul class="sub-menu collapse show" id="log-Components">
            <li><a class="ms-link text-decoration-none" href="LOGManagement.html"><span>Letter Of Guarantee List</span></a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
</div>