<div th:fragment="navbar">
<nav class="navbar navbar-expand-lg p-3 noBackgroundColor text-white bg-dark" >
    <a class="navbar-brand ml-3" href="index"><img th:src="@{image/1logo.png}" width="50" height="50" alt="">
        ACE</a>
    <!-- <a class="navbar-brand ml-3" href="index.html"><img src="@{}" width="50" height="50" alt=""> ACE</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="index">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="projectManagement">Project Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Supplier Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="LOGManagement">Letter Of Guatantee</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="IOUManagement">IOU</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">ACCOUNTS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="user_list">ADMIN</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto d-flex align-items-center">
            <p class="mt-3"> <p th:text=" ${ps_name}"></p>
            <span th:if="${isLogin != 'True'}">
            <a href="login" class="btn btn-outline-light mx-5" type="button"><span class="mx-5 rounded-pill">LOG IN</span></a>
            </span>
            <span th:unless="${isLogin != 'True'}">
            <a href="login" class="btn btn-outline-light mx-5" type="button"><span class="mx-5 rounded-pill">LOG OUT</span></a>
            </span>
        </ul>
    </div>
</nav>
</div>