<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico" />

  <title>A.C.E. Parts Co., Ltd.</title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
    integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- Bootstrap core CSS -->
  <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}" />
  <link rel="stylesheet" href="../static/custom.css">

  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.2.0/dist/chartjs-plugin-datalabels.min.js"></script>

  <style>
    .list-group-item {
      /* border: 1px solid rgba(255, 255, 255, 1) !important; */
    }
  </style>
  <script>
    $(function () {
      $("#nav-placeholder").load("navbar.html");
    });
  </script>
</head>

<body>
  <div id="nav-placeholder"></div>

  <div class="container-fluid">
    <div class="row p-3">
      <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12">
        <div class="card bg-dark text-white">
          <div class="card-body" style="background-color: rgba(0, 0, 0, 0.3);">
            <div class="d-flex flex-column">
              <h5><i class="bi bi-clipboard2-check"></i> Project Management</h5>
            </div>
            <ul class="menu-list flex-grow-1 mt-3 list-unstyled">
              <li class="collapsed">
                <a class="m-link active" data-bs-toggle="collapse" data-bs-target="#dashboard-Components" href="#">
                  <i class="icofont-home fs-5"></i> <span>Dashboard</span> <span
                    class="arrow icofont-dotted-down ms-auto text-end fs-5"></span></a>
                <!-- Menu: Sub menu ul -->
                <ul class="sub-menu collapse show" id="dashboard-Components">
                  <li><a class="ms-link" href="projectDetail.html">
                      <span>Project Dashboard</span></a></li>
                </ul>
              </li>
              <li class="collapsed">
                <a class="m-link" data-bs-toggle="collapse" data-bs-target="#project-Components" href="#"
                  aria-expanded="true">
                  <i class="icofont-briefcase"></i><span>Projects</span> <span
                    class="arrow icofont-dotted-down ms-auto text-end fs-5"></span></a>
                <!-- Menu: Sub menu ul -->
                <ul class="sub-menu collapse show" id="project-Components" style="">
                  <li><a class="ms-link" href="#"><span>Projects</span></a>
                  </li>
                  <li><a class="ms-link" href="boq.html"><span>BOQ</span></a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12">
        <div class="row">
          <div class="col-xl-6 col-md-12">
            <div class="card h-100">
              <div class="card-body">
                <h5>Project Name 1</h5>
                <div class="row">
                  <div class="col-lg-6 col-md-12">
                    <div class="card my-3">
                      <div class="card-body">
                        <h3 class="font-weight-bold"><i class="bi bi-check2-square"></i></h3>
                        <h5>Attendance</h5>
                        <h5 class="text-muted">400</h5>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-12">
                    <div class="card my-3">
                      <div class="card-body">
                        <h3 class="font-weight-bold"><i class="bi bi-clock"></i></h3>
                        <h5>Time Progess</h5>
                        <h5 class="text-muted">400</h5>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-12">
                    <div class="card my-3">
                      <div class="card-body">
                        <h3 class="font-weight-bold"><i class="bi bi-clock"></i></h3>
                        <h5>Absent</h5>
                        <h5 class="text-muted">0%</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-md-12">
            <div class="card h-100">
              <div class="card-body">
                <h5>BOQ Budget : 45%</h5>
                <canvas id="boqChart" style="height: 400px;"></canvas>
              </div>
            </div>
          </div>
          <div class="col-12 mt-3">
            <div class="card">
              <div class="card-body">
                <canvas id="ExpenseChart"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <h3>BOQ List</h3>
                <h1>156</h1>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="card mt-4">
              <div class="card-body">
                <h3>Upcomming Expense</h3>
                <hr>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


  <script src="../static/js/bootstrap.bundle.min.js"></script>

  <script>
    var canvas = document.getElementById('boqChart');
    var ctx = canvas.getContext('2d');

    new Chart(ctx, {
      type: 'doughnut',
      data: {
        labels: ['Expense', 'Remaining'],
        datasets: [
          {
            data: [45, 55],
            backgroundColor: ['#36a2eb', '#ff6384'],
          },
        ],
      },
      options: {

        plugins: {
          legend: { position: 'bottom' },

          datalabels: {
            color: 'white', // Customize label color
            textAlign: 'center',
            font: {
              size: 14, // Customize label font size
            },
            formatter: function (value, context) {
              return context.chart.data.labels[context.dataIndex];
            },
          },
        },
      },
    });
  </script>
  <script>
    var canvas = document.getElementById('ExpenseChart');
    var ctx = canvas.getContext('2d');

    // Random x-axis data (months)
    var months = [
      'January', 'February', 'March', 'April', 'May', 'June',
      'July', 'August', 'September', 'October', 'November', 'December'
    ];

    // Random data for Expense and Forecast
    var expenseData = getRandomData();
    var forecastData = getRandomData();

    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: months,
        datasets: [
          {
            label: 'Expense',
            data: expenseData,
            backgroundColor: '#ff6384',
          },
          {
            label: 'Forecast',
            data: forecastData,
            backgroundColor: '#36a2eb',
          },
        ],
      },
      options: {
        plugins: {
          title: {
            display: true,
            text: 'Expenses',
          },
        },
        scales: {
          x: {
            stacked: true,
          },
          y: {
            stacked: true,
            beginAtZero: true,
          },
        },
      },
    });

    // Function to generate random data
    function getRandomData() {
      var data = [];
      for (var i = 0; i < 12; i++) {
        data.push(Math.floor(Math.random() * 1000));
      }
      return data;
    }
  </script>

</body>

</html>