<div class="card bg-dark text-white">
    <div class="card-body" style="background-color: rgba(0, 0, 0, 0.3);">
      <div class="d-flex flex-column">
        <h5><i class="bi bi-clipboard2-check"></i> Customer & Supplier Management</h5>
      </div>
      <ul class="menu-list flex-grow-1 mt-3 list-unstyled">
        <li class="collapsed">
          <a class="m-link text-decoration-none active" data-toggle="collapse" href="#supplier-Components" aria-expanded="true">
            <i class="icofont-home fs-5"></i> <span>Suppliers</span> <span
              class="arrow icofont-dotted-down ms-auto text-end fs-5"></span></a>
          <!-- Menu: Sub menu ul -->
          <ul class="sub-menu collapse show" id="supplier-Components">
            <li><a class="ms-link text-decoration-none" href="supplierManagement.html"><span>Supplier Management</span></a></li>
          </ul>
        </li>
        <li class="collapsed">
          <a class="m-link text-decoration-none" data-toggle="collapse" href="#customer-Components" aria-expanded="true">
            <i class="icofont-briefcase"></i><span>Customers</span><span class="arrow icofont-dotted-down ms-auto text-end fs-5"></span></a>
          <!-- Menu: Sub menu ul -->
          <ul class="sub-menu collapse show" id="customer-Components">
            <li><a class="ms-link text-decoration-none" href="customerManagement.html"><span>Customer Management</span></a></li>
          </ul>
        </li>
      </ul>
    </div>
</div>